<nav class="fixed top-0 w-full z-50 backdrop-blur-md bg-[#0a1628]/80 border-b border-white/5">
  <div class="max-w-6xl mx-auto px-6 py-4 flex justify-between items-center">
    <a href="/" class="text-cyan-300 font-bold">&lt; DataEng /&gt;</a>

    <div class="hidden md:flex gap-8 text-sm">
      <a href="#about">Sobre</a>
      <a href="{{ '/projects/' | relative_url }}">
        Todos os Projetos Pessoais Desenvolvidos
        </a>
      <a href="#skills">Skills</a>
      <a href="#contact">Contato</a>
    </div>
  </div>
</nav>