<nav class="navbar">
  <div class="nav-container">

    <!-- Logo -->
    <a href="/" class="logo">
      &lt; DataEng /&gt;
    </a>

    <!-- Saudação -->
    <p id="greeting" class="greeting hidden lg:block"></p>

    <!-- Desktop menu -->
    <div class="nav-links">
      <a href="{{ '/projects/' | relative_url }}">Projetos</a>
      <a href="{{ '/experience/' | relative_url }}">Experiência</a>
      <a href="{{ '/#skills' | relative_url }}">Habilidades</a>
      <a href="{{ '/#contacts' | relative_url }}">Contato</a>
    </div>

    <!-- Mobile menu -->
    <div class="mobile-links">
      <a href="{{ '/projects/' | relative_url }}">Projetos</a>
      <a href="{{ '/experience/' | relative_url }}">Experiência</a>
      <a href="{{ '/#skills' | relative_url }}">Habilidades</a>
      <a href="{{ '/#contacts' | relative_url }}">Contato</a>
    </div>
</nav>